<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>英雄事迹</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 引入css -->
    <script type="text/javascript"
            src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-2.0.0.min.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css"
          rel="stylesheet" media="screen">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>

<body>
<div class="ui container">
    <!--  头部导航栏  -->
    <div class="ui segment" id="index-header-nav"
         style="margin-bottom: fill;background-color: cornsilk;opacity:95%;position: fixed;z-index: 999;width: 74.2%;"
         th:fragment="nav-menu">
        <div class="ui secondary menu">
            <a class="item" th:href="@{/news}">返回到宣传栏</a>

            <div class="item" sec:authorize="hasRole('vip')">
                当前时间：<span id="nowtime">时间获取中:...</span>
            </div>

            <!--登录注销-->
            <div class="right menu">
                <!--如果未登录-->
                <div sec:authorize="!isAuthenticated()">
                    <a class="item" th:href="@{/toLogin}">
                        <i class="address card icon"></i> 登录
                    </a>
                </div>

                <!--如果已登录-->
                <div sec:authorize="isAuthenticated()">
                    <a class="item">
                        <i class="address card icon"></i>
                        用户名：<span sec:authentication="principal.username"></span>
                        <!--                    角色：<span sec:authentication="principal.authorities"></span>-->
                    </a>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <a class="item" th:href="@{/logout}">
                        <i class="address card icon"></i> 注销
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!--  内容页  -->
    <div id="LG" class="container-fluid" style="text-align: center;background-color: cornsilk;margin-top:90px">
        <div class="row-fluid">
            <p class="span12">
                <!--  标题  -->
            <div class="page-header">
                <h2>致敬！那些感天动地的抗战英雄</h2>
                <div class="media-body">
                    发布时间：2022-08-21 编辑：徐辉冠 作者：招就中心 审核：招就中心 来源：招就中心 浏览次数：999+
                </div>
            </div>
            <img src="https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/军人荣光.png"/>
            <p style="font-size: 15px" class="ziti">
                <div class="highlight">
                    <p><font style="FONT-SIZE: 12pt" size="1"><span style="BOX-SIZING: border-box !important; WORD-WRAP: break-word !important; FONT-SIZE: 12pt; MAX-WIDTH: 100%; COLOR: rgb(0,0,0); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px">    <span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; COLOR: rgb(0,0,0); LINE-HEIGHT: 150%"><font face="宋体">习近平总书记指出，<strong><font color="black">在波澜壮阔的中国人民抗日战争中，千千万万的抗战英雄抛头颅、洒热血，为战争胜利作出了重大贡献，为铸就伟大的抗战精神作出了重大贡献。伟大的抗战精神，永远是激励中国人民克服一切艰难险阻、为实现中华民族伟大复兴而奋斗的强大精神动力</font></strong>。</font></span></span></font></p>
                    <p style="MARGIN-BOTTOM: 15.1pt; MARGIN-TOP: 7.5pt; LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; COLOR: rgb(0,0,0); LINE-HEIGHT: 150%"><font face="宋体">站在中国人民抗日战争胜利</font>75周年的时间节点上，让我们回望英雄们感天动地、气壮山河的伟大事迹，学习英雄、捍卫英雄，从中汲取前行的强大动力。</span></p>
                    <p style="MARGIN-BOTTOM: 15.1pt; TEXT-ALIGN: center; MARGIN-TOP: 15.1pt; LINE-HEIGHT: 200%" align="center"><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; COLOR: rgb(0,0,0); LINE-HEIGHT: 200%"><font face="宋体">杨</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; LINE-HEIGHT: 200%"><font face="宋体">靖宇：头颅可断志不可摇</font></span></b><b></b></p>
                    <p style="MARGIN-BOTTOM: 15.1pt; TEXT-ALIGN: center; MARGIN-TOP: 15.1pt; LINE-HEIGHT: 200%" align="center"><img src="https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/yingxiong1.png" width="195" height="251" id="{7F085002-20E3-4105-AE7C-0C6B78DEE8A4}" /><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; LINE-HEIGHT: 200%"> </span></b></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">密林深处，一个身材高大的人，临危不惧，对逼近的日伪军双手握枪，左右射击，他那方正刚毅的脸上显出坚定的神情，重眉下的大眼闪射着愤怒的火焰，他把满腔仇恨凝聚在枪口上，给敌人以有力地回击。<font color="black"><strong>他就是东北抗日联军第</strong></font></font><font color="black"><strong>1路军总司令兼政治委员杨靖宇</strong></font>。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1939年冬，日军调集守备队、森林警察、铁路警护队等十余万人，在长白山地区进行“拉网”“大讨伐”抗日队伍。同时，又在农村推行“保甲制”“连坐法”和烧房并屯等政策，隔断人民群众与抗日联军的联系。杨靖宇率领部队在林海雪原与敌人艰苦周旋。敌人不仅实行</span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; COLOR: rgb(0,0,0); LINE-HEIGHT: 150%"><font face="宋体">经济封锁，</font></span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">还以万元悬赏杨靖宇的头颅，派人诱降。</font></span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">面对诱降，杨靖宇激昂地说：</font>“<strong>一个忠贞的共产党员，民族革命战士，为了伟大的共产主义理想，为了中华民族的解放事业，头颅不惜抛掉，鲜血可以喷洒，而忠贞不贰的意志是不会动摇的。日寇威胁利诱的手段，只可以玩弄那些民族败类。</strong>”</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1940年2月，杨靖宇和战友们在转战中陷入日军的包围，在冰天雪地、弹尽粮绝的情况下，最后只身一人与敌人周旋5昼夜，于1940年2月23日在吉林濛江三道崴子壮烈牺牲。杨靖宇牺牲后，残暴的日军割下他的头颅，解剖他的遗体时，发现他的胃里只有树皮、草根和棉絮，没有一粒粮食。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1949年，郭沫若为杨靖宇题词为：“<strong>头颅可断腹可剖。烈忾难消志不磨，碧血青萬两千古，于今赤旗满山河。</strong>”</span></p>
            <p style="TEXT-ALIGN: center; LINE-HEIGHT: 150%" align="center"><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; COLOR: rgb(57,57,57); LINE-HEIGHT: 150%"><font face="宋体">左权：</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; LINE-HEIGHT: 150%"><font face="宋体">愿拼热血卫吾华</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; COLOR: rgb(57,57,57); LINE-HEIGHT: 150%"> </span></b></p>
                    <p style="TEXT-ALIGN: center; LINE-HEIGHT: 150%" align="center"><img title="" hspace="0" alt="" src="https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/yingxiong2.png" id="{04613675-D409-420D-BEB1-CCEEC39ADD25}" /><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"> </span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">在湖南醴陵市，有一条</font>“左权路”贯穿城区。每每走在这条路上，人们不禁会想起已牺牲70多年的左权将军。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">左权，</font>1905年3月出</span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">生</font></span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">于湖南省醴陵县（今醴陵市）的一个贫苦农民家庭。全国抗战爆发后，左权任八路军副参谋长、八路军前方总部参谋长，后兼任八路军第二总队司令员，协助朱德、彭德怀指挥八路军开赴华北抗日前线，粉碎日伪军</font>“扫荡”，取得了百团大战、黄崖洞保卫战等战役的胜利，威震敌后。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1937年9月18日，在山西前线的八路军副参谋长左权，在给叔父的家信中写道：“<strong>我牺牲了我的一切幸福，为我的事业奋斗。请你相信这一道路是光明的、伟大的。</strong>”艰难凸显精神、苦战带来希望，只要坚持战斗、百折不挠，最后胜利终将属于中国。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1942年5月，日军对太行抗日根据地进行“铁壁合围”大“扫荡”。25日，左权在山西省辽县麻田附近指挥部队突围转移时，在十字岭战斗中壮烈殉国，时年37岁。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">左权是八路军在抗日战场上牺牲的最高指挥员。周恩来称他为</font>“足以为党之模范”，朱德赞誉他是“中国军事界不可多得的人才”，并赋诗悼念：“<strong>名将以身殉国家，愿拼热血卫吾华。太行浩气传千古，留得清漳吐血花。</strong>”</span></p>
                    <p style="TEXT-ALIGN: center; LINE-HEIGHT: 150%" align="center"><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; COLOR: rgb(57,57,57); LINE-HEIGHT: 150%"><font face="宋体">李林：</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; LINE-HEIGHT: 150%"><font face="宋体">甘愿征战血染衣，不平倭寇誓不休</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; COLOR: rgb(57,57,57); LINE-HEIGHT: 150%"> </span></b></p>
                    <p style="TEXT-ALIGN: center; LINE-HEIGHT: 150%" align="center"><img title="" hspace="0" alt="" src="https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/yingxiong3.png" id="{D9179231-7B2D-4876-8688-4F073E47F732}" /><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold; COLOR: rgb(57,57,57); LINE-HEIGHT: 150%"> </span></b></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">在山西朔州市平鲁区烈士陵园，矗立着一尊跃马提枪、飒爽英姿的塑像。<strong>她就是著名抗日民族女英雄、印度尼西亚归国华侨李林。</strong></font></span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">李林，原名李秀若，福建尤溪县人，</font>1915年出生于贫苦农民家庭。幼年被侨眷领养，侨居印度尼西亚。1933年冬，就读上海爱国女中，积极参加学生抗日救亡运动，参加了共产党人领导的“抗日救亡青年团”，写下“<strong>甘愿征战血染衣，不平倭寇誓不休</strong>”的誓言。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1940年4月，日伪军集中1.2万兵力，对晋绥边区进行“扫荡”。26日，晋绥边区特委、第11行政专员公署机关和群众团体等500余人被包围。为了掩护机关和群众突围，李林不顾怀有3个月的身孕，率骑兵连勇猛冲杀，将日伪军引开，自己却被围困于小郭家村荫凉山顶。在腿部和胸部多处负伤后，仍英勇抗击，毙伤日伪军6人。被日伪军包围后，她宁死不屈，用最后一发子弹射进喉部，壮烈殉国。</span></p>
                    <p style="TEXT-ALIGN: center" align="center"><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold"><font face="宋体">马本斋：把一切献给为民族解放而奋斗的伟业</font></span></b></p>
                    <p style="TEXT-ALIGN: center" align="center"><img title="" hspace="0" alt="" src="https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/yingxiong4.png" id="{2E681345-4C38-4AA9-98F6-796C60166174}" /><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold"> </span></b></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">抗日战争时期，在华北平原上，活跃着一支以回民兄弟为主组成的部队</font>——回民支队。这支部队屡建战功，给日本侵略者以沉重打击，被八路军冀中军区誉为“<strong>无攻不克，无坚不摧，打不垮，拖不烂的铁军</strong>”。毛泽东称其为“百战百胜的回民支队”。<strong>马本斋就是这支英雄支队的司令员</strong>。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">马本斋，</font>1901年出生于河北省献县的一个回族农民家庭。全国抗战爆发后，在家乡组织回民义勇队，奋起抗日。1938年率队参加八路军，所部改编为冀中军区回民教导总队，任总队长。次年教导总队改称冀中军区回民支队，任司令员。马本斋作战勇猛，身先士卒，在回民支队和广大群众中有很高威望。从1937年至1944年，马本斋率部经历大小战斗870余次，歼灭日伪军3.6万余人，打得敌人闻风丧胆。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">马本斋在革命斗争中深深感受到党的伟大，决心加入中国共产党。</font>1938年10月，马本斋光荣地加入了中国共产党。他在入党申请书中写道：“<strong>我甘心情愿把我的一切献给伟大的中国共产党，献给为回族解放和整个中华民族的解放而奋斗的伟业。</strong>”</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">长期艰苦作战，马本斋身患重病。</font>1944年1月，在回民支队奉命开赴延安前，他抱病作了最后一次动员报告，叮嘱同志们：“<strong>要跟着党，跟着毛主席，抗战到底！</strong>”同年2月7日，马本斋在山东莘县病逝。</span></p>
                    <p style="TEXT-ALIGN: center" align="center"><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: Calibri; FONT-WEIGHT: bold"><font face="宋体">赵伊坪</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; FONT-WEIGHT: bold"><font face="宋体">：</font></span></b><b><span style="FONT-SIZE: 12pt; FONT-FAMILY: Calibri; FONT-WEIGHT: bold"><font face="宋体">宁为鞭死鬼，不做亡国奴</font></span></b></p>
                    <p style="TEXT-ALIGN: center; LINE-HEIGHT: 150%" align="center"><img title="" hspace="0" alt="" src="https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/yingxiong5.png" id="{A2F1614E-14B6-401D-AD7A-7D8D481D6325}" /><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; BACKGROUND: rgb(255,255,255); COLOR: rgb(57,57,57); LINE-HEIGHT: 150%"> </span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">“<strong>血染黄沙誓要中华得解放，烈火永生待我九州尽欢颜</strong>”，这是悬挂在赵伊坪故居门口的对联。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">赵伊坪，原名赵廉越，</font>1910年生于河南郾城。1925年经彭雪枫介绍，加入了中国共产主义青年团，1926年转为中国共产党党员。1937年底，赵伊坪到中共鲁西北特委工作。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">1939年3月，中共鲁西区委领导机关随八路军一二九师先遣纵队由冠县、馆陶地区向东挺进。5日清晨，在茌平琉璃寺一带与日军遭遇。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">激战至傍晚，赵伊坪多处中弹负伤坠马，落入日军魔掌。日军把他绑在树上，用皮鞭抽、刺刀戳</font>……面对凶残的敌人，赵伊坪大义凛然，英勇不屈，痛斥日本侵略军的野蛮侵华暴行：“<strong>任凭你们把我钉死在树上，我宁可站着死，不低高贵头。宁为鞭死鬼，不做亡国奴……</strong>”</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%">日军恼羞成怒，残忍地将他全身浇上汽油，放火点燃。烈焰中，赵伊坪用尽最后的气力高呼：“<strong>打倒狗日本鬼子！中国共产党万岁！</strong>”残暴的日军又举起刺刀，捅进他的嘴里……赵伊坪壮烈牺牲。</span></p>
                    <p style="LINE-HEIGHT: 150%; TEXT-INDENT: 24pt"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">面对侵略者的铁蹄和残暴杀戮，像杨靖宇、左权、李林、马本斋、赵伊坪这样的优秀中华儿女，还有成千上万。他们无所畏惧、挺身而出，冒着敌人的炮火、冒着枪林弹雨，</font></span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; COLOR: rgb(0,0,0); LINE-HEIGHT: 150%"><font face="宋体">不畏困难、威武不屈</font></span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; LINE-HEIGHT: 150%"><font face="宋体">、血战到底，以血肉之躯保家卫国，</font></span><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体; COLOR: rgb(0,0,0); LINE-HEIGHT: 150%"><font face="宋体">向世界<strong>展示了天下兴亡、匹夫有责的爱国情怀，视死如归、宁死不屈的民族气节，不畏强暴、血战到底的英雄气概，百折不挠、坚忍不拔的必胜信念</strong>。</font></span></p>
                    <p><span style="FONT-SIZE: 12pt; FONT-FAMILY: 宋体">    <font face="宋体">岁月长河，历史足迹不容磨灭；时代变迁，英雄精神熠熠发光。</font></span></p>
                </div>
            </p>
        </div>
    </div>

</div>


<script type="text/javascript">
    function gettime() {
        var time = new Date();
        var arr = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        var hour = time.getHours();
        var min = time.getMinutes();
        var sec = time.getSeconds();
        document.getElementById("nowtime").innerText = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate() + " " + arr[time.getDay()] + "    " + hour + (min < 10 ? ":0" : ":") + min + (sec < 10 ? ":0" : ":") + sec + "  " + (hour < 6 ? "凌晨好" : (hour < 12 ? "上午好" : (hour < 18 ? "下午好" : "晚上好"))) + "!";
    }

    gettime();//显示第一秒的时间
    setInterval("gettime()", 1000);
</script>

<!-- 引入js -->
<script type="text/javascript" src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/jquery-ui"></script>
<link href="http://www.francescomalagrino.com/BootstrapPageGenerator/3/css/bootstrap-combined.min.css" rel="stylesheet"
      media="screen">
<script type="text/javascript"
        src="http://www.francescomalagrino.com/BootstrapPageGenerator/3/js/bootstrap.min.js"></script>

</body>
</html>