body {
    align-items: center;
    /*background-color: var(--white);*/
    background: url("https://cocochimp-markdown-img.oss-cn-beijing.aliyuncs.com/90.jpg");
    /* 决定背景图像的位置是在视口内固定，或者随着包含它的区块滚动。 */
    /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-attachment */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

.ziti{
    font: 18px/2 "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "å¾®è½¯é›…é»‘", STHeitiSC-Light, simsun, "å®‹ä½“", "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
    color: #2b2b2b;
    margin: 28px 10px;
    display: block;
}

p{
    text-align:left;
}