# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\学习资料\大三(上)文件\1.专业课程\3.web开发技术\2.实验资料\web技术开发—大作业\ChineseDream_SpringBoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
